@import url(https://fonts.googleapis.com/css?family=Montserrat:900|Raleway:400,400i,700,700i);

:root {
  --black: #1d1f20;
  --blue: #83e4e2;
  --green: #a2ed56;
  --yellow: #fddc32;
  --white: #fafafa;
}

button {
  outline: none !important;
}

body {
  font-family: "Raleway", sans-serif;
  color: #008054 !important;
  font-size: 16px;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: subpixel-antialiased;
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
@media screen and (max-width: 460px) {
  div::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }
}

div::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 6px;
}

div::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 100px;
}

div::-webkit-scrollbar-thumb:vertical,
body::-webkit-scrollbar-thumb:vertical {
  background-color: #008054;
  border-radius: 100px;
}

div::-webkit-scrollbar:horizontal,
body::-webkit-scrollbar:horizontal {
  height: 6px;
}

div::-webkit-scrollbar-thumb:horizontal,
body::-webkit-scrollbar-thumb:horizontal {
  background-color: #008054;
  border-radius: 100px;
}

.p-treenode-label {
  color: #008054 !important;
  font-weight: 900;
  text-decoration: none;
}
.p-treenode-label a {
  color: #008054 !important;
  font-weight: 900;
  text-decoration: none;
}

.ytp-videowall-still-image {
  display: none;
}
.ytp-videowall-still[data-is-mix="true"] .ytp-videowall-still-listlabel-mix {
  display: none;
}

a,
a:hover,
a:visited {
  color: var(--link-color);
}

/* normalize styles */
button {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
  cursor: pointer;
}

#menu__toggle {
  opacity: 0;
  width: 30px;
  height: 30px;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
  background-color: #ffffff;
  user-select: none;
  top: 16px;
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
  background-color: #ffffff;
  user-select: none;
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  background-color: #ffffff;
  user-select: none;
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
  user-select: none;
  overflow-y: auto;
}
.menu__btn {
  position: fixed;
  top: 10px;
  left: 16px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 2102;
  color: rgba(0, 0, 0, 0.4);
  user-select: none;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: var(--primary);
  transition-duration: 0.25s;
  user-select: none;
}

.menu__btn > span {
  top: 6px;
}

.menu__btn > span::before {
  content: "";
  top: 8px;
  user-select: none;
}
.menu__btn > span::after {
  content: "";
  top: 16px;
  user-select: none;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 60px 0 10px 0;
  list-style: none;
  background: var(--gradient-dark-blue);
  transition-duration: 0.25s;
  z-index: 2101;
}
.menu__item {
  display: block;
  padding: 12px 12px !important;
  color: var(--white);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  display: flex;
  align-items: center;
  padding: 12px 0px;
  background: linear-gradient(90deg, #008054 0%, #978dff 100%);
  box-shadow: 0px 2px 12px rgba(115, 103, 240, 0.5);
  border-radius: 10px 0px 0px 10px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  color: #ffffff;
}

.p-button {
  outline: none !important;
}

.catalog-banner-c1 {
  height: 100%;
  max-width: 810px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 40px;
  z-index: 1;
  margin: 0 120px;
  color: white;
  font-size: 32px;
  text-shadow: 1px 1px 2px black;
}

@media screen and (max-width: 1024px) {
  .catalog-banner-c1 {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
    z-index: 1;
    margin: 0 20px;
    color: white;
    font-size: 24px;
  }
}

.shop-item-badges {
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 1;
}
.shop-item-badge + .shop-item-badge {
  margin-top: -10px;
}
.shop-item-favourite {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  color: #ececec;
  stroke: transparent;
  cursor: pointer;
  transition:
    stroke 0.2s,
    color 0.2s;
}
.shop-item-favourite:hover {
  color: #ddd;
}
.shop-item-favourite.is-favourite {
  stroke: #ed1c28;
  color: #ed1c28;
}
.shop-item-favourite.is-favourite:hover {
  stroke: #ececec;
  color: #ececec;
}

.b-badge {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.b-badge-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
}

.b-badge-text {
  position: absolute;
  font-family: Garbata, sans-serif;
  font-variation-settings: "wght" 130;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.1;
  text-align: center;
  color: #fff;
  transform: rotate(-20.4deg);
}
.b-badge-hit .b-badge-icon {
  color: #ff9f2e;
}
.b-badge-sale .b-badge-icon {
  color: #ed1c28;
}
.b-badge-new .b-badge-icon {
  border-radius: 50%;
  background: #1c8559;
}
.b-badge-custom .b-badge-text {
  font-size: 12px;
  padding: 10px;
}
.b-badge-custom_type_img img {
  position: absolute;
}
.b-badge-custom_type_text {
  background: #7ed5ff;
  color: #000;
  border-radius: 50%;
}
.p-dialog .p-dialog-title {
  min-width: max-content;
}

@media screen and (max-width: 1024px) {
  .p-dialog .p-dialog-title {
    min-width: min-content;
  }
}

.p-dialog .p-dialog-content {
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.noScroll {
  overflow: hidden;
}

.hidden {
  display: none;
}

.p-badge.small {
  color: #ffffff;
  font-size: 0.6rem;
  font-weight: 700;
  min-width: 1rem;
  height: 1rem;
  line-height: 1rem;
}

.bigQuote blockquote {
  font-size: 1em;
  width: 80%;
  font-style: italic;
  color: #555555;
  padding: 1.2em 30px 1.2em 30px;
  border-left: 8px solid #78c0a8;
  line-height: 1.6;
  position: relative;
  margin: 0 auto;
}

.bigQuote p {
  margin: 0 0 20px 0;
}

blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: #78c0a8;
  font-size: 4em;
  position: absolute;
  left: 2px;
  top: -24px;
}

blockquote::after {
  content: "";
}

.bigQuote blockquote span {
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
}

/* footer */
.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

ol.gradient-list {
  counter-reset: gradient-counter;
  list-style: none;
  margin: 1.75rem auto;
  padding-left: 1rem;
  max-width: 550px;
}

ol.gradient-list.line {
  padding-right: 50px;
  border-right: 2px solid grey;
}

ol.gradient-list > li {
  background: white;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  box-shadow:
    0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05),
    0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
  counter-increment: gradient-counter;
  margin-top: 1rem;
  min-height: 3rem;
  padding: 1rem 1rem 1rem 3rem;
  position: relative;
}

ol.gradient-list > li::before,
ol.gradient-list > li::after {
  background: linear-gradient(135deg, var(--blue) 0%, var(--green) 100%);
  border-radius: 1rem 1rem 0 1rem;
  content: "";
  height: 3rem;
  left: -1rem;
  overflow: hidden;
  position: absolute;
  top: -1rem;
  width: 3rem;
}

ol.gradient-list > li::before {
  align-items: flex-end;
  box-shadow:
    0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05),
    0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
  content: counter(gradient-counter);
  color: var(--black);
  display: flex;
  font: 900 1.5em/1 "Montserrat";
  justify-content: flex-end;
  padding: 0.125em 0.25em;
  z-index: 1;
}

ol.gradient-list > li:nth-child(10n + 1)::before,
ol.gradient-list > li:nth-child(10n + 2)::before,
ol.gradient-list > li:nth-child(10n + 3)::before,
ol.gradient-list > li:nth-child(10n + 4)::before,
ol.gradient-list > li:nth-child(10n + 5)::before {
  background: linear-gradient(
    135deg,
    rgba(var(--green), 0.2) 0%,
    rgba(var(--yellow), 0.2) 100%
  );
}

ol.gradient-list > li:nth-child(10n + 6)::before,
ol.gradient-list > li:nth-child(10n + 7)::before,
ol.gradient-list > li:nth-child(10n + 8)::before,
ol.gradient-list > li:nth-child(10n + 9)::before,
ol.gradient-list > li:nth-child(10n + 10)::before {
  background: linear-gradient(
    135deg,
    rgba(var(--green), 0.8) 0%,
    rgba(var(--yellow), 0.8) 100%
  );
}

ol.gradient-list > li + li {
  margin-top: 2rem;
}

.productsList {
  margin: 0;
  padding: 0 40px;
  width: 100%;
}

.p-scrolltop.p-link {
  background: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 1024px) {
  ol.gradient-list {
    max-width: 550px;
  }
}

@media screen and (max-width: 480px) {
  ol.gradient-list {
    max-width: 320px;
  }
}

@media screen and (max-width: 1024px) {
  .bigQuote blockquote {
    font-size: 1em;
    width: 100%;
    margin: 25px auto;
    font-style: italic;
    color: #555555;
    padding: 1em 25px 1em 45px;
    border-left: 8px solid #78c0a8;
    line-height: 1.6;
    position: relative;
  }
}

@media screen and (max-width: 460px) {
  .bigQuote blockquote {
    font-size: 1em;
    width: 100%;
    margin: 0px auto;
    font-style: italic;
    color: #555555;
    padding: 10px;
    border-left: 4px solid #78c0a8;
    line-height: 1.6;
    position: relative;
  }

  blockquote::before {
    font-family: Arial;
    content: "\201C";
    color: #78c0a8;
    font-size: 4em;
    position: absolute;
    left: 3px;
    top: -30px;
  }
}

/* Стили дял анимации тильды */

@media screen and (min-width: 980px) {
  .t-animate[data-animate-style="fadein"],
  .t-animate[data-animate-style="fadeindown"],
  .t-animate[data-animate-style="fadeinleft"],
  .t-animate[data-animate-style="fadeinright"],
  .t-animate[data-animate-style="fadeinup"],
  .t-animate[data-animate-style="zoomin"],
  .t-animate[data-animate-style="zoomout"] {
    opacity: 0;
    -webkit-transition-property: opacity, transform;
    transition-property: opacity, transform;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .t-title.t-animate {
    -webkit-transition-duration: 1.2s;
    transition-duration: 1.2s;
  }
  .t-descr.t-animate,
  .t-subtitle.t-animate,
  .t-text.t-animate,
  .t-uptitle.t-animate {
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
  }
  .t-item.t-animate {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .t-animate_started[data-animate-style="fadein"] {
    opacity: 1;
  }
  .t-animate[data-animate-style="fadeinup"] {
    -webkit-transform: translate(0, 100px);
    transform: translate(0, 100px);
  }
  .t-animate_started[data-animate-style="fadeinup"] {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
  .t-animate[data-animate-style="fadeindown"] {
    -webkit-transform: translate(0, -100px);
    transform: translate(0, -100px);
  }
  .t-animate_started[data-animate-style="fadeindown"] {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
  .t-animate[data-animate-style="fadeinleft"] {
    -webkit-transform: translate(100px, 0);
    transform: translate(100px, 0);
  }
  .t-animate_started[data-animate-style="fadeinleft"] {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
  .t-animate[data-animate-style="fadeinright"] {
    -webkit-transform: translate(-100px, 0);
    transform: translate(-100px, 0);
  }
  .t-animate_started[data-animate-style="fadeinright"] {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
  .t-animate[data-animate-style="zoomin"] {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  .t-animate_started[data-animate-style="zoomin"] {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .t-animate[data-animate-style="zoomout"] {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  .t-animate_started[data-animate-style="zoomout"] {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .t-animate_started[data-animate-distance],
  .t-animate_started[data-animate-scale] {
    -webkit-transform: none !important;
    transform: none !important;
  }
}

.t396.visible .t-animate[data-animate-style="fadein"],
.t396.visible .t-animate[data-animate-style="fadeindown"],
.t396.visible .t-animate[data-animate-style="fadeinleft"],
.t396.visible .t-animate[data-animate-style="fadeinright"],
.t396.visible .t-animate[data-animate-style="fadeinup"],
.t396.visible .t-animate[data-animate-style="zoomin"],
.t396.visible .t-animate[data-animate-style="zoomout"] {
  opacity: 1 !important;
}

.t396 .t-animate[data-animate-style="fadein"],
.t396 .t-animate[data-animate-style="fadeindown"],
.t396 .t-animate[data-animate-style="fadeinleft"],
.t396 .t-animate[data-animate-style="fadeinright"],
.t396 .t-animate[data-animate-style="fadeinup"],
.t396 .t-animate[data-animate-style="zoomin"],
.t396 .t-animate[data-animate-style="zoomout"] {
  opacity: 0;
  -webkit-transition-property: opacity, transform;
  transition-property: opacity, transform;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@media screen and (min-width: 960px) and (max-width: 1199px) {
  .t396 .t-animate[data-animate-style-res-960="fadein"],
  .t396 .t-animate[data-animate-style-res-960="fadeindown"],
  .t396 .t-animate[data-animate-style-res-960="fadeinleft"],
  .t396 .t-animate[data-animate-style-res-960="fadeinright"],
  .t396 .t-animate[data-animate-style-res-960="fadeinup"],
  .t396 .t-animate[data-animate-style-res-960="zoomin"],
  .t396 .t-animate[data-animate-style-res-960="zoomout"] {
    opacity: 0;
    -webkit-transition-property: opacity, transform;
    transition-property: opacity, transform;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}
@media screen and (min-width: 640px) and (max-width: 959px) {
  .t396 .t-animate[data-animate-style-res-640="fadein"],
  .t396 .t-animate[data-animate-style-res-640="fadeindown"],
  .t396 .t-animate[data-animate-style-res-640="fadeinleft"],
  .t396 .t-animate[data-animate-style-res-640="fadeinright"],
  .t396 .t-animate[data-animate-style-res-640="fadeinup"],
  .t396 .t-animate[data-animate-style-res-640="zoomin"],
  .t396 .t-animate[data-animate-style-res-640="zoomout"] {
    opacity: 0;
    -webkit-transition-property: opacity, transform;
    transition-property: opacity, transform;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}
@media screen and (min-width: 480px) and (max-width: 639px) {
  .t396 .t-animate[data-animate-style-res-480="fadein"],
  .t396 .t-animate[data-animate-style-res-480="fadeindown"],
  .t396 .t-animate[data-animate-style-res-480="fadeinleft"],
  .t396 .t-animate[data-animate-style-res-480="fadeinright"],
  .t396 .t-animate[data-animate-style-res-480="fadeinup"],
  .t396 .t-animate[data-animate-style-res-480="zoomin"],
  .t396 .t-animate[data-animate-style-res-480="zoomout"] {
    opacity: 0;
    -webkit-transition-property: opacity, transform;
    transition-property: opacity, transform;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}
@media screen and (max-width: 479px) {
  .t396 .t-animate[data-animate-style-res-320="fadein"],
  .t396 .t-animate[data-animate-style-res-320="fadeindown"],
  .t396 .t-animate[data-animate-style-res-320="fadeinleft"],
  .t396 .t-animate[data-animate-style-res-320="fadeinright"],
  .t396 .t-animate[data-animate-style-res-320="fadeinup"],
  .t396 .t-animate[data-animate-style-res-320="zoomin"],
  .t396 .t-animate[data-animate-style-res-320="zoomout"] {
    opacity: 0;
    -webkit-transition-property: opacity, transform;
    transition-property: opacity, transform;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}
.t396 .t-title.t-animate {
  -webkit-transition-duration: 1.2s;
  transition-duration: 1.2s;
}
.t396 .t-descr.t-animate,
.t396 .t-subtitle.t-animate,
.t396 .t-text.t-animate,
.t396 .t-uptitle.t-animate {
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
}
.t396 .t-item.t-animate {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.t396 .t-animate[data-animate-style="fadein"] {
  opacity: 0;
  transform: none;
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  #allrecords .t396 .t-animate[data-animate-style-res-960="fadein"] {
    opacity: 0;
    transform: none;
  }
}
@media screen and (min-width: 640px) and (max-width: 959px) {
  #allrecords .t396 .t-animate[data-animate-style-res-640="fadein"] {
    opacity: 0;
    transform: none;
  }
}
@media screen and (min-width: 480px) and (max-width: 639px) {
  #allrecords .t396 .t-animate[data-animate-style-res-480="fadein"] {
    opacity: 0;
    transform: none;
  }
}
@media screen and (max-width: 479px) {
  #allrecords .t396 .t-animate[data-animate-style-res-320="fadein"] {
    opacity: 0;
    transform: none;
  }
}
.t396 .t-animate_started[data-animate-style="fadein"] {
  opacity: 1;
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  #allrecords .t396 .t-animate_started[data-animate-style-res-960="fadein"] {
    opacity: 1;
  }
}
@media screen and (min-width: 640px) and (max-width: 959px) {
  #allrecords .t396 .t-animate_started[data-animate-style-res-640="fadein"] {
    opacity: 1;
  }
}
@media screen and (min-width: 480px) and (max-width: 639px) {
  #allrecords .t396 .t-animate_started[data-animate-style-res-480="fadein"] {
    opacity: 1;
  }
}
@media screen and (max-width: 479px) {
  #allrecords .t396 .t-animate_started[data-animate-style-res-320="fadein"] {
    opacity: 1;
  }
}
.t396 .t-animate[data-animate-style="fadeinup"] {
  -webkit-transform: translate(0, 100px);
  transform: translate(0, 100px);
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  #allrecords .t396 .t-animate[data-animate-style-res-960="fadeinup"] {
    -webkit-transform: translate(0, 100px);
    transform: translate(0, 100px);
  }
}
@media screen and (min-width: 640px) and (max-width: 959px) {
  #allrecords .t396 .t-animate[data-animate-style-res-640="fadeinup"] {
    -webkit-transform: translate(0, 100px);
    transform: translate(0, 100px);
  }
}
@media screen and (min-width: 480px) and (max-width: 639px) {
  #allrecords .t396 .t-animate[data-animate-style-res-480="fadeinup"] {
    -webkit-transform: translate(0, 100px);
    transform: translate(0, 100px);
  }
}
@media screen and (max-width: 479px) {
  #allrecords .t396 .t-animate[data-animate-style-res-320="fadeinup"] {
    -webkit-transform: translate(0, 100px);
    transform: translate(0, 100px);
  }
}
.t396 .t-animate_started[data-animate-style="fadeinup"] {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  #allrecords .t396 .t-animate_started[data-animate-style-res-960="fadeinup"] {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@media screen and (min-width: 640px) and (max-width: 959px) {
  #allrecords .t396 .t-animate_started[data-animate-style-res-640="fadeinup"] {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@media screen and (min-width: 480px) and (max-width: 639px) {
  #allrecords .t396 .t-animate_started[data-animate-style-res-480="fadeinup"] {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@media screen and (max-width: 479px) {
  #allrecords .t396 .t-animate_started[data-animate-style-res-320="fadeinup"] {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.t396 .t-animate[data-animate-style="fadeindown"] {
  -webkit-transform: translate(0, -100px);
  transform: translate(0, -100px);
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  #allrecords .t396 .t-animate[data-animate-style-res-960="fadeindown"] {
    -webkit-transform: translate(0, -100px);
    transform: translate(0, -100px);
  }
}
@media screen and (min-width: 640px) and (max-width: 959px) {
  #allrecords .t396 .t-animate[data-animate-style-res-640="fadeindown"] {
    -webkit-transform: translate(0, -100px);
    transform: translate(0, -100px);
  }
}
@media screen and (min-width: 480px) and (max-width: 639px) {
  #allrecords .t396 .t-animate[data-animate-style-res-480="fadeindown"] {
    -webkit-transform: translate(0, -100px);
    transform: translate(0, -100px);
  }
}
@media screen and (max-width: 479px) {
  #allrecords .t396 .t-animate[data-animate-style-res-320="fadeindown"] {
    -webkit-transform: translate(0, -100px);
    transform: translate(0, -100px);
  }
}
.t396 .t-animate_started[data-animate-style="fadeindown"] {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  #allrecords
    .t396
    .t-animate_started[data-animate-style-res-960="fadeindown"] {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@media screen and (min-width: 640px) and (max-width: 959px) {
  #allrecords
    .t396
    .t-animate_started[data-animate-style-res-640="fadeindown"] {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@media screen and (min-width: 480px) and (max-width: 639px) {
  #allrecords
    .t396
    .t-animate_started[data-animate-style-res-480="fadeindown"] {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@media screen and (max-width: 479px) {
  #allrecords
    .t396
    .t-animate_started[data-animate-style-res-320="fadeindown"] {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.t396 .t-animate[data-animate-style="fadeinleft"] {
  -webkit-transform: translate(100px, 0);
  transform: translate(100px, 0);
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  #allrecords .t396 .t-animate[data-animate-style-res-960="fadeinleft"] {
    -webkit-transform: translate(100px, 0);
    transform: translate(100px, 0);
  }
}
@media screen and (min-width: 640px) and (max-width: 959px) {
  #allrecords .t396 .t-animate[data-animate-style-res-640="fadeinleft"] {
    -webkit-transform: translate(100px, 0);
    transform: translate(100px, 0);
  }
}
@media screen and (min-width: 480px) and (max-width: 639px) {
  #allrecords .t396 .t-animate[data-animate-style-res-480="fadeinleft"] {
    -webkit-transform: translate(100px, 0);
    transform: translate(100px, 0);
  }
}
@media screen and (max-width: 479px) {
  #allrecords .t396 .t-animate[data-animate-style-res-320="fadeinleft"] {
    -webkit-transform: translate(100px, 0);
    transform: translate(100px, 0);
  }
}
.t396 .t-animate_started[data-animate-style="fadeinleft"] {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  #allrecords
    .t396
    .t-animate_started[data-animate-style-res-960="fadeinleft"] {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@media screen and (min-width: 640px) and (max-width: 959px) {
  #allrecords
    .t396
    .t-animate_started[data-animate-style-res-640="fadeinleft"] {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@media screen and (min-width: 480px) and (max-width: 639px) {
  #allrecords
    .t396
    .t-animate_started[data-animate-style-res-480="fadeinleft"] {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@media screen and (max-width: 479px) {
  #allrecords
    .t396
    .t-animate_started[data-animate-style-res-320="fadeinleft"] {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.t396 .t-animate[data-animate-style="fadeinright"] {
  -webkit-transform: translate(-100px, 0);
  transform: translate(-100px, 0);
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  #allrecords .t396 .t-animate[data-animate-style-res-960="fadeinright"] {
    -webkit-transform: translate(-100px, 0);
    transform: translate(-100px, 0);
  }
}
@media screen and (min-width: 640px) and (max-width: 959px) {
  #allrecords .t396 .t-animate[data-animate-style-res-640="fadeinright"] {
    -webkit-transform: translate(-100px, 0);
    transform: translate(-100px, 0);
  }
}
@media screen and (min-width: 480px) and (max-width: 639px) {
  #allrecords .t396 .t-animate[data-animate-style-res-480="fadeinright"] {
    -webkit-transform: translate(-100px, 0);
    transform: translate(-100px, 0);
  }
}
@media screen and (max-width: 479px) {
  #allrecords .t396 .t-animate[data-animate-style-res-320="fadeinright"] {
    -webkit-transform: translate(-100px, 0);
    transform: translate(-100px, 0);
  }
}
.t396 .t-animate_started[data-animate-style="fadeinright"] {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  #allrecords
    .t396
    .t-animate_started[data-animate-style-res-960="fadeinright"] {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@media screen and (min-width: 640px) and (max-width: 959px) {
  #allrecords
    .t396
    .t-animate_started[data-animate-style-res-640="fadeinright"] {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@media screen and (min-width: 480px) and (max-width: 639px) {
  #allrecords
    .t396
    .t-animate_started[data-animate-style-res-480="fadeinright"] {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@media screen and (max-width: 479px) {
  #allrecords
    .t396
    .t-animate_started[data-animate-style-res-320="fadeinright"] {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.t396 .t-animate[data-animate-style="zoomin"] {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  #allrecords .t396 .t-animate[data-animate-style-res-960="zoomin"] {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@media screen and (min-width: 640px) and (max-width: 959px) {
  #allrecords .t396 .t-animate[data-animate-style-res-640="zoomin"] {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@media screen and (min-width: 480px) and (max-width: 639px) {
  #allrecords .t396 .t-animate[data-animate-style-res-480="zoomin"] {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@media screen and (max-width: 479px) {
  #allrecords .t396 .t-animate[data-animate-style-res-320="zoomin"] {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.t396 .t-animate_started[data-animate-style="zoomin"] {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  #allrecords .t396 .t-animate_started[data-animate-style-res-960="zoomin"] {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@media screen and (min-width: 640px) and (max-width: 959px) {
  #allrecords .t396 .t-animate_started[data-animate-style-res-640="zoomin"] {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@media screen and (min-width: 480px) and (max-width: 639px) {
  #allrecords .t396 .t-animate_started[data-animate-style-res-480="zoomin"] {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@media screen and (max-width: 479px) {
  #allrecords .t396 .t-animate_started[data-animate-style-res-320="zoomin"] {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.t396 .t-animate[data-animate-style="zoomout"] {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  #allrecords .t396 .t-animate[data-animate-style-res-960="zoomout"] {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@media screen and (min-width: 640px) and (max-width: 959px) {
  #allrecords .t396 .t-animate[data-animate-style-res-640="zoomout"] {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@media screen and (min-width: 480px) and (max-width: 639px) {
  #allrecords .t396 .t-animate[data-animate-style-res-480="zoomout"] {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@media screen and (max-width: 479px) {
  #allrecords .t396 .t-animate[data-animate-style-res-320="zoomout"] {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.t396 .t-animate_started[data-animate-style="zoomout"] {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  #allrecords .t396 .t-animate_started[data-animate-style-res-960="zoomout"] {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@media screen and (min-width: 640px) and (max-width: 959px) {
  #allrecords .t396 .t-animate_started[data-animate-style-res-640="zoomout"] {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@media screen and (min-width: 480px) and (max-width: 639px) {
  #allrecords .t396 .t-animate_started[data-animate-style-res-480="zoomout"] {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@media screen and (max-width: 479px) {
  #allrecords .t396 .t-animate_started[data-animate-style-res-320="zoomout"] {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.t396 .t-animate_started[data-animate-distance],
.t396 .t-animate_started[data-animate-scale] {
  -webkit-transform: none !important;
  transform: none !important;
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  #allrecords .t396 .t-animate_started[data-animate-distance-res-960],
  #allrecords .t396 .t-animate_started[data-animate-scale-res-960] {
    -webkit-transform: none !important;
    transform: none !important;
  }
}
@media screen and (min-width: 640px) and (max-width: 959px) {
  #allrecords .t396 .t-animate_started[data-animate-distance-res-640],
  #allrecords .t396 .t-animate_started[data-animate-scale-res-640] {
    -webkit-transform: none !important;
    transform: none !important;
  }
}
@media screen and (min-width: 480px) and (max-width: 639px) {
  #allrecords .t396 .t-animate_started[data-animate-distance-res-480],
  #allrecords .t396 .t-animate_started[data-animate-scale-res-480] {
    -webkit-transform: none !important;
    transform: none !important;
  }
}
@media screen and (max-width: 479px) {
  #allrecords .t396 .t-animate_started[data-animate-distance-res-320],
  #allrecords .t396 .t-animate_started[data-animate-scale-res-320] {
    -webkit-transform: none !important;
    transform: none !important;
  }
}

.tn-elem {
  position: absolute;
}

#rec365084067 .tn-elem[data-elem-id="1658162496856"] .tn-atom {
  background-color: #ffffff;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

#rec365084067 .tn-elem[data-elem-id="1658162765541"] {
  z-index: 12;
  top: 43%;
  left: 33.1%;
  width: 100px;
}

#rec365084067 .tn-elem[data-elem-id="1658162765541"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

#rec365084067 .tn-elem[data-elem-id="1658162765537"] {
  z-index: 10;
  top: 28.5%;
  left: 31.8%;
  width: 107px;
}

#rec365084067 .tn-elem[data-elem-id="1658162765537"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

#rec365084067 .tn-elem[data-elem-id="1658162765533"] {
  z-index: 10;
  top: 10.5%;
  left: 15%;
  width: 200px;
}

#rec365084067 .tn-elem[data-elem-id="1658162765533"] .tn-atom {
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

/* Стили для анимации тильды */

.login-with-google-btn {
  transition:
    background-color 0.3s,
    box-shadow 0.3s;

  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow:
    0 -1px 0 rgba(0, 0, 0, 0.04),
    0 1px 1px rgba(0, 0, 0, 0.25);

  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;

  &:hover {
    box-shadow:
      0 -1px 0 rgba(0, 0, 0, 0.04),
      0 2px 4px rgba(0, 0, 0, 0.25);
  }

  &:active {
    background-color: #eeeeee;
  }

  &:focus {
    outline: none;
    box-shadow:
      0 -1px 0 rgba(0, 0, 0, 0.04),
      0 2px 4px rgba(0, 0, 0, 0.25),
      0 0 0 3px #c8dafc;
  }

  &:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow:
      0 -1px 0 rgba(0, 0, 0, 0.04),
      0 1px 1px rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }
}

.swiper-button-disabled {
  pointer-events: all !important;
}

.swiper-button-prev,
.swiper-button-next {
  top: var(--swiper-navigation-top-offset, 33%) !important;
  color: #008054 !important;
}

.swiper-pagination-bullet-active {
  background: #008054 !important;
}
