@import url(https://fonts.googleapis.com/css?family=Montserrat:900|Raleway:400,400i,700,700i);

:root {
  --black: #1d1f20;
  --blue: #83e4e2;
  --green: #a2ed56;
  --yellow: #fddc32;
  --white: #fafafa;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: subpixel-antialiased;
  color: var(--main-text-color);
}

div::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 6px;
}

div::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 100px;
}

div::-webkit-scrollbar-thumb:vertical,
body::-webkit-scrollbar-thumb:vertical {
  background-color: #6152ff;
  border-radius: 100px;
}

div::-webkit-scrollbar:horizontal,
body::-webkit-scrollbar:horizontal {
  height: 6px;
}

div::-webkit-scrollbar-thumb:horizontal,
body::-webkit-scrollbar-thumb:horizontal {
  background-color: #6152ff;
  border-radius: 100px;
}

a,
a:hover,
a:visited {
  color: var(--link-color);
}

/* normalize styles */
button {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
  cursor: pointer;
}

#menu__toggle {
  opacity: 0;
  width: 30px;
  height: 30px;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
  background-color: #ffffff;
  user-select: none;
  top: 16px;
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
  background-color: #ffffff;
  user-select: none;
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  background-color: #ffffff;
  user-select: none;
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
  user-select: none;
  overflow-y: auto;
}
.menu__btn {
  position: fixed;
  top: 10px;
  left: 16px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 2102;
  color: rgba(0, 0, 0, 0.4);
  user-select: none;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: var(--primary);
  transition-duration: 0.25s;
  user-select: none;
}

.menu__btn > span {
  top: 6px;
}

.menu__btn > span::before {
  content: "";
  top: 8px;
  user-select: none;
}
.menu__btn > span::after {
  content: "";
  top: 16px;
  user-select: none;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 60px 0 10px 0;
  list-style: none;
  background: var(--gradient-dark-blue);
  transition-duration: 0.25s;
  z-index: 2101;
}
.menu__item {
  display: block;
  padding: 12px 12px !important;
  color: var(--white);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  display: flex;
  align-items: center;
  padding: 12px 0px;
  background: linear-gradient(90deg, #6152ff 0%, #978dff 100%);
  box-shadow: 0px 2px 12px rgba(115, 103, 240, 0.5);
  border-radius: 10px 0px 0px 10px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  color: #ffffff;
}

.p-button {
  outline: none !important;
}

.catalog-banner-c1 {
  height: 100%;
  max-width: 810px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 40px;
  z-index: 1;
  margin: 0 120px;
  color: white;
  font-size: 32px;
  text-shadow: 1px 1px 2px black;
}

@media screen and (max-width: 1024px) {
  .catalog-banner-c1 {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
    z-index: 1;
    margin: 0 20px;
    color: white;
    font-size: 24px;
  }
}

.shop-item-badges {
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 1;
}
.shop-item-badge + .shop-item-badge {
  margin-top: -10px;
}
.shop-item-favourite {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  color: #ececec;
  stroke: transparent;
  cursor: pointer;
  transition:
    stroke 0.2s,
    color 0.2s;
}
.shop-item-favourite:hover {
  color: #ddd;
}
.shop-item-favourite.is-favourite {
  stroke: #ed1c28;
  color: #ed1c28;
}
.shop-item-favourite.is-favourite:hover {
  stroke: #ececec;
  color: #ececec;
}

.b-badge {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.b-badge-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
}

.b-badge-text {
  position: absolute;
  font-family: Garbata, sans-serif;
  font-variation-settings: "wght" 130;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.1;
  text-align: center;
  color: #fff;
  transform: rotate(-20.4deg);
}
.b-badge-hit .b-badge-icon {
  color: #ff9f2e;
}
.b-badge-sale .b-badge-icon {
  color: #ed1c28;
}
.b-badge-new .b-badge-icon {
  border-radius: 50%;
  background: #1c8559;
}
.b-badge-custom .b-badge-text {
  font-size: 12px;
  padding: 10px;
}
.b-badge-custom_type_img img {
  position: absolute;
}
.b-badge-custom_type_text {
  background: #7ed5ff;
  color: #000;
  border-radius: 50%;
}
.p-dialog .p-dialog-title {
  min-width: max-content;
}

@media screen and (max-width: 1024px) {
  .p-dialog .p-dialog-title {
    min-width: min-content;
  }
}

.p-dialog .p-dialog-content {
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.sortingButton .p-dropdown-label.p-inputtext,
.sortingButton .p-dropdown .p-dropdown-clear-icon,
.sortingButton .p-dropdown-trigger {
  color: white !important;
}

.noScroll {
  overflow: hidden;
}

.hidden {
  display: none;
}

.p-badge.small {
  color: #ffffff;
  font-size: 0.6rem;
  font-weight: 700;
  min-width: 1rem;
  height: 1rem;
  line-height: 1rem;
}

.bigQuote blockquote {
  font-size: 1.8em;
  width: 80%;
  margin: 50px auto;
  font-style: italic;
  color: #555555;
  padding: 1.2em 30px 1.2em 75px;
  border-left: 8px solid #78c0a8;
  line-height: 1.6;
  position: relative;
}

.bigQuote p {
  margin: 0 0 20px 0;
}

blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: #78c0a8;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

blockquote::after {
  content: "";
}

.bigQuote blockquote span {
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
}

/* footer */
.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

ol.gradient-list {
  counter-reset: gradient-counter;
  list-style: none;
  margin: 1.75rem 0;
  padding-left: 1rem;
  max-width: 550px;
}

ol.gradient-list.line {
  padding-right: 50px;
  border-right: 2px solid grey;
}

ol.gradient-list > li {
  background: white;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  box-shadow:
    0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05),
    0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
  counter-increment: gradient-counter;
  margin-top: 1rem;
  min-height: 3rem;
  padding: 1rem 1rem 1rem 3rem;
  position: relative;
}

ol.gradient-list > li::before,
ol.gradient-list > li::after {
  background: linear-gradient(135deg, var(--blue) 0%, var(--green) 100%);
  border-radius: 1rem 1rem 0 1rem;
  content: "";
  height: 3rem;
  left: -1rem;
  overflow: hidden;
  position: absolute;
  top: -1rem;
  width: 3rem;
}

ol.gradient-list > li::before {
  align-items: flex-end;
  box-shadow:
    0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05),
    0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
  content: counter(gradient-counter);
  color: var(--black);
  display: flex;
  font: 900 1.5em/1 "Montserrat";
  justify-content: flex-end;
  padding: 0.125em 0.25em;
  z-index: 1;
}

ol.gradient-list > li:nth-child(10n + 1)::before,
ol.gradient-list > li:nth-child(10n + 2)::before,
ol.gradient-list > li:nth-child(10n + 3)::before,
ol.gradient-list > li:nth-child(10n + 4)::before,
ol.gradient-list > li:nth-child(10n + 5)::before {
  background: linear-gradient(
    135deg,
    rgba(var(--green), 0.2) 0%,
    rgba(var(--yellow), 0.2) 100%
  );
}

ol.gradient-list > li:nth-child(10n + 6)::before,
ol.gradient-list > li:nth-child(10n + 7)::before,
ol.gradient-list > li:nth-child(10n + 8)::before,
ol.gradient-list > li:nth-child(10n + 9)::before,
ol.gradient-list > li:nth-child(10n + 10)::before {
  background: linear-gradient(
    135deg,
    rgba(var(--green), 0.8) 0%,
    rgba(var(--yellow), 0.8) 100%
  );
}

ol.gradient-list > li + li {
  margin-top: 2rem;
}
