body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: subpixel-antialiased;
  color: var(--main-text-color);
}

div::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 6px;
}

div::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 100px;
}

div::-webkit-scrollbar-thumb:vertical,
body::-webkit-scrollbar-thumb:vertical {
  background-color: #6152ff;
  border-radius: 100px;
}

div::-webkit-scrollbar:horizontal,
body::-webkit-scrollbar:horizontal {
  height: 6px;
}

div::-webkit-scrollbar-thumb:horizontal,
body::-webkit-scrollbar-thumb:horizontal {
  background-color: #6152ff;
  border-radius: 100px;
}

a,
a:hover,
a:visited {
  color: var(--link-color);
}

/* normalize styles */
button {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
  cursor: pointer;
}

#menu__toggle {
  opacity: 0;
  width: 30px;
  height: 30px;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
  background-color: #ffffff;
  user-select: none;
  top: 16px;
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
  background-color: #ffffff;
  user-select: none;
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  background-color: #ffffff;
  user-select: none;
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
  user-select: none;
  overflow-y: auto;
}
.menu__btn {
  position: fixed;
  top: 10px;
  left: 16px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 2102;
  color: rgba(0, 0, 0, 0.4);
  user-select: none;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: var(--primary);
  transition-duration: 0.25s;
  user-select: none;
}

.menu__btn > span {
  top: 6px;
}

.menu__btn > span::before {
  content: "";
  top: 8px;
  user-select: none;
}
.menu__btn > span::after {
  content: "";
  top: 16px;
  user-select: none;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 60px 0 10px 0;
  list-style: none;
  background: var(--gradient-dark-blue);
  transition-duration: 0.25s;
  z-index: 2101;
}
.menu__item {
  display: block;
  padding: 12px 12px !important;
  color: var(--white);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  display: flex;
  align-items: center;
  padding: 12px 0px;
  background: linear-gradient(90deg, #6152ff 0%, #978dff 100%);
  box-shadow: 0px 2px 12px rgba(115, 103, 240, 0.5);
  border-radius: 10px 0px 0px 10px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  color: #ffffff;
}

.p-button {
  outline: none !important;
}

.catalog-banner-c1 {
  height: 100%;
  max-width: 810px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 40px;
  z-index: 1;
  margin: 0 120px;
  color: white;
  font-size: 32px;
  text-shadow: 1px 1px 2px black;
}

@media screen and (max-width: 1024px) {
  .catalog-banner-c1 {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
    z-index: 1;
    margin: 0 20px;
    color: white;
    font-size: 24px;
  }
}

.shop-item-badges {
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 1;
}
.shop-item-badge + .shop-item-badge {
  margin-top: -10px;
}
.shop-item-favourite {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  color: #ececec;
  stroke: transparent;
  cursor: pointer;
  transition:
    stroke 0.2s,
    color 0.2s;
}
.shop-item-favourite:hover {
  color: #ddd;
}
.shop-item-favourite.is-favourite {
  stroke: #ed1c28;
  color: #ed1c28;
}
.shop-item-favourite.is-favourite:hover {
  stroke: #ececec;
  color: #ececec;
}

.b-badge {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.b-badge-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
}

.b-badge-text {
  position: absolute;
  font-family: Garbata, sans-serif;
  font-variation-settings: "wght" 130;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.1;
  text-align: center;
  color: #fff;
  transform: rotate(-20.4deg);
}
.b-badge-hit .b-badge-icon {
  color: #ff9f2e;
}
.b-badge-sale .b-badge-icon {
  color: #ed1c28;
}
.b-badge-new .b-badge-icon {
  border-radius: 50%;
  background: #1c8559;
}
.b-badge-custom .b-badge-text {
  font-size: 12px;
  padding: 10px;
}
.b-badge-custom_type_img img {
  position: absolute;
}
.b-badge-custom_type_text {
  background: #7ed5ff;
  color: #000;
  border-radius: 50%;
}
.p-dialog .p-dialog-title {
  min-width: max-content;
}

@media screen and (max-width: 1024px) {
.p-dialog .p-dialog-title {
  min-width: min-content;
}
}

.p-dialog .p-dialog-content {
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.sortingButton .p-dropdown-label.p-inputtext,
.sortingButton .p-dropdown .p-dropdown-clear-icon,
.sortingButton .p-dropdown-trigger {
  color: white !important;
}

.noScroll {
  overflow: hidden;
}

.hidden {
  display: none;
}

.p-badge.small {
  color: #ffffff;
  font-size: 0.6rem;
  font-weight: 700;
  min-width: 1rem;
  height: 1rem;
  line-height: 1rem;
}