:root {
  --body-font-family: "Roboto", Arial, Helvetica, sans-serif;
  --heading-font-family: "Roboto", Arial, Helvetica, sans-serif;

  --primary: #7367f0;
  --primary-light: #9389ff;
  --primary-dark: #5a58c6;
  --primary-pink: #ff99b6;
  --primary-green: #00b3a1;
  --primary-red: #f06767;

  --main-bg-color: #f3f6ff;
  --main-bg-light: #fefefe;
  --main-text-color: #323232;

  --black: #2b3033;
  --grey-1: #f3f6ff;
  --grey-2: #e9eefe;
  --grey-3: #dee3f3;
  --grey-4: #d7dcdf;
  --grey-5: #a6aec7;
  --grey-6: #939a9e;
  --grey-7: #7e818a;
  --white: #ffffff;

  --secondary-bg: var(--grey-1);
  --secondary-text: var(--grey-7);
  --link-color: #7367f0;

  --control-inactive-bg: var(--grey-3);
  --control-active-bg: #ffc773;

  --gradient-dark-blue: linear-gradient(180deg, #05040c 0%, #241d52 100%);
  --gradient-primary: linear-gradient(90deg, #6152ff 0%, #978dff 100%);
  --gradient-green: linear-gradient(226.27deg, #00b3a1 8.37%, #2bb2ff 94.55%);
  --gradient-orange: linear-gradient(
    216.86deg,
    #ffc962 10.94%,
    #ffb62b 111.29%
  );

  --header-height: 54px;
}
